@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=DM+Serif+Display:ital@0;1&display=swap');

@theme inline {

    --font-playfair: "Playfair Display", serif;
    --font-sans: 'Inter', system-ui, sans-serif;
    --font-display: 'DM Serif Display', Georgia, serif;
    --font-mono: 'JetBrains Mono', monospace;

    --color-textGray: #B3B0AF;
    --color-golden: #B8894A;
    --color-goldenHover: #C89A5A;
    --color-darkGray: #252627;
    --color-bgLight: #F7F6F2;
    --color-pGray: #7E7875;
}